/*
 * ------------------------------------------------------------ *
 *	Base config file
 * ------------------------------------------------------------ *
 */

// Set working directory
workDir = "/Users/emmanuel/Documents/Data/NextflowWorkdir"

 params {

    // Set input directories
    inputDir = null
    fastqExtension = "*.R{1,2}.fastq.gz"
    reads = "${params.inputDir}/${params.fastqExtension}"

    // Set reference directory
    referenceDir = null

    // Set output directories
    outputDir = null
	outName = "${params.outputDir}/nextflow-pipeline"

    // Mode to save files
    publishDirMode = 'copy'

    // Trimming options
	qualityCutoff = 30
	readLengthFilter = 15

 }

process {
    withName: BWA_MAPPING {
        cpus = 4
        memory = '12 GB'
    }
    withName: SAMTOOLS_SAM_TO_BAM {
        cpus = 2
        memory = '4 GB'
    }
    withName: SAMTOOLS_SORT {
        cpus = 4
        memory = '8 GB'
    }
    withName: SAMTOOLS_INDEX {
        cpus = 1
        memory = '2 GB'
    }
}